/* reset.css */

/* Сброс отступов и боксовая модель */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Обнуление стандартных шрифтов и размеров */
html, body {
  height: 100%;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  line-height: 1.5;
  background: #0b0e11;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, textarea, select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

ul, ol {
  list-style: none !important;
  padding: 0;
}

li::marker {
    display: none !important;
}