{% extends "layout.njk" %}

{% block content %}
  <h2>Blog Posts</h2>

  {% if posts.length %}
    <div>
      {% for post in posts %}  
          <article>
            <h3>Title: {{ post.title }}</h3>
            <div>Content: {{ post.content | safe }}</div>
            <small>{{ post.date }}</small>
          </article>
        </li>
      {% endfor %}
      </div>
  {% else %}
    <p>No posts yet.</p>
  {% endif %}
{% endblock %}
