<header class="container">
    <nav>
      <ul>
        <li><strong>My Blog</strong></li>
      </ul>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </nav>
</header>